version: "3"


services:

  lep:
    container_name: t2.lep
    build:
      context: ./lep
      args:
        - USER_ID=${USER_ID}
        - GROUP_ID=${GROUP_ID}
    links:
        - mariadb:mariadb
    tty: true
    volumes:
      - ./lep/nginx/nginx.conf:/etc/nginx/nginx.conf:rw
      - ./lep/php-fpm/7.3/www.conf:/etc/php/7.3/fpm/pool.d/www.conf:rw
      - ./lep/nginx/logs:/var/log/nginx:rw
      - ./lep/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf:rw
      - ./lep/cron/laravel:/etc/cron.d/laravel:rw
      - ./lep/cron/cron.log:/var/log/cron.log:rw
      - ./lep/nginx/sites:/etc/nginx/sites-enabled:rw
      - ./sites/blog:/var/www/sites/mysite:rw
      - ./sites/site1:/var/www/sites/site1:rw
      - ./sites/site2:/var/www/sites/site2:rw
      - ./sites/sub.site1:/var/www/sites/sub.site1:rw
    ports:
      - ${HTTP_PORT}:80
    restart: always

  mariadb:
    container_name: t2.mariadb
    build:
      context: ./mariadb
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PWD}
    restart: always
    volumes:
      - ./data/mysql:/var/lib/mysql:rw
      - ./data/shared:/var/shared:rw
    ports:
      - ${MYSQL_PORT}:3306
      
  db:
    container_name: t2.postgres
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=123
  